@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
body{font-family:"微软雅黑";}
li{list-style:none;}
a{text-decoration:none;color:#000}
h1,h2,h3,h4,h5,h6,strong,b{font-weight:100;font-size:100%;}
img{border:0;}
input{outline:none;}
.clear{content:".";clear:both;display:block;height:0;overflow:hidden;visibility:hidden;}